.container{
   display: grid; 
   grid-template-areas:'header header'
                       'sidebar content';
    grid-gap: 10px;
    grid-template-columns:150px 1fr ;
}
.item{
    border: 2px solid green; 
    padding: 10px;
}
.header{
    grid-area: header;
}
.content{
    grid-area: content;
}
.sidebar{
    grid-area: sidebar;
}